In [1]:
import pandas as pd

In [2]:
block_height = pd.read_csv("data/bitcoin-block-height.csv")
difficulty_ribbon = pd.read_csv("data/bitcoin-difficulty-ribbon.csv")
market_cap_usd = pd.read_csv("data/bitcoin-market-cap-usd.csv")
hash_rate = pd.read_csv("data/bitcoin-mean-hash-rate.csv")
active_addresses = pd.read_csv("data/bitcoin-number-of-active-addresses.csv")
new_addresses = pd.read_csv("data/bitcoin-number-of-new-addresses.csv")
SOPR = pd.read_csv("data/bitcoin-spent-output-profit-ratio-sopr.csv")
stock_to_flow = pd.read_csv("data/bitcoin-stock-to-flow-ratio-usd.csv")
fees = pd.read_csv("data/bitcoin-total-transaction-fees-btc.csv")

In [3]:
block_height

                Block Height/t  Block Height/v
0     2009-01-09T00:00:00.000Z              14
1     2009-01-10T00:00:00.000Z              75
2     2009-01-11T00:00:00.000Z             168
3     2009-01-12T00:00:00.000Z             262
4     2009-01-13T00:00:00.000Z             385
...                        ...             ...
4977  2022-08-26T00:00:00.000Z          751304
4978  2022-08-27T00:00:00.000Z          751449
4979  2022-08-28T00:00:00.000Z          751610
4980  2022-08-29T00:00:00.000Z          751767
4981  2022-08-30T00:00:00.000Z          751929

[4982 rows x 2 columns]

In [4]:
difficulty_ribbon

,Difficulty Ribbon/t,Difficulty Ribbon/o/ma128,Difficulty Ribbon/o/ma14,Difficulty Ribbon/o/ma200,Difficulty Ribbon/o/ma25,Difficulty Ribbon/o/ma40,Difficulty Ribbon/o/ma60,Difficulty Ribbon/o/ma9,Difficulty Ribbon/o/ma90
0,2009-07-28T00:00:00.000Z,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09
1,2009-07-29T00:00:00.000Z,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09
2,2009-07-30T00:00:00.000Z,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09
3,2009-07-31T00:00:00.000Z,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09
4,2009-08-01T00:00:00.000Z,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09,4.294967e+09
...,...,...,...,...,...,...,...,...,...
4777,2022-08-26T00:00:00.000Z,1.260632e+23,1.214978e+23,1.236215e+23,1.211172e+23,1.207706e+23,1.225194e+23,1.217692e+23,1.246465e+23
4778,2022-08-27T00:00:00.000Z,1.260674e+23,1.215521e+23,1.236572e+23,1.212304e+23,1.206846e+23,1.224322e+23,1.217692e+23,1.245728e+23
4779,2022-08-28T00:00:00.000Z,1.260717e+23,1.216064e+23,1.236929e+23,1.213437e+23,1.205986e+23,1.223450e+23,1.217692e+23,1.244990e+23
4780,2022-08-29T00:00:00.000Z,1.260759e+23,1.216607e+23,1.237285e+23,1.213741e+23,1.205126e+23,1.222577e+23,1.217692e+23,1.244252e+23
4781,2022-08-30T00:00:00.000Z,1.260801e+23,1.217149e+23,1.237642e+23,1.214045e+23,1.205833e+23,1.221705e+23,1.217692e+23,1.243514e+23

In [5]:
market_cap_usd

                  Market Cap/t  Market Cap/v
0     2010-07-17T00:00:00.000Z  1.702649e+05
1     2010-07-18T00:00:00.000Z  2.959420e+05
2     2010-07-19T00:00:00.000Z  2.792690e+05
3     2010-07-20T00:00:00.000Z  2.589772e+05
4     2010-07-21T00:00:00.000Z  2.753102e+05
...                        ...           ...
4423  2022-08-26T00:00:00.000Z  3.871251e+11
4424  2022-08-27T00:00:00.000Z  3.838172e+11
4425  2022-08-28T00:00:00.000Z  3.759987e+11
4426  2022-08-29T00:00:00.000Z  3.881729e+11
4427  2022-08-30T00:00:00.000Z  3.787287e+11

[4428 rows x 2 columns]

In [6]:
hash_rate

                   Hash Rate/t   Hash Rate/v
0     2009-01-09T00:00:00.000Z  1.281850e+05
1     2009-01-10T00:00:00.000Z  1.676938e+06
2     2009-01-11T00:00:00.000Z  4.679436e+06
3     2009-01-12T00:00:00.000Z  4.653054e+06
4     2009-01-13T00:00:00.000Z  6.070590e+06
...                        ...           ...
4977  2022-08-26T00:00:00.000Z  2.484308e+20
4978  2022-08-27T00:00:00.000Z  2.043652e+20
4979  2022-08-28T00:00:00.000Z  2.245404e+20
4980  2022-08-29T00:00:00.000Z  2.218379e+20
4981  2022-08-30T00:00:00.000Z  2.274486e+20

[4982 rows x 2 columns]

In [7]:
active_addresses

           Active Addresses/t  Active Addresses/v
0    2008-12-29T00:00:00.000Z                   0
1    2009-01-05T00:00:00.000Z                   0
2    2009-01-12T00:00:00.000Z                  34
3    2009-01-19T00:00:00.000Z                  63
4    2009-01-26T00:00:00.000Z                  61
..                        ...                 ...
708  2022-07-25T00:00:00.000Z             4565989
709  2022-08-01T00:00:00.000Z             4505870
710  2022-08-08T00:00:00.000Z             4687324
711  2022-08-15T00:00:00.000Z             4662329
712  2022-08-22T00:00:00.000Z             4483301

[713 rows x 2 columns]

In [8]:
new_addresses

           Active Addresses/t  Active Addresses/v
0    2008-12-29T00:00:00.000Z                   0
1    2009-01-05T00:00:00.000Z                   0
2    2009-01-12T00:00:00.000Z                  34
3    2009-01-19T00:00:00.000Z                  63
4    2009-01-26T00:00:00.000Z                  61
..                        ...                 ...
708  2022-07-25T00:00:00.000Z             4565989
709  2022-08-01T00:00:00.000Z             4505870
710  2022-08-08T00:00:00.000Z             4687324
711  2022-08-15T00:00:00.000Z             4662329
712  2022-08-22T00:00:00.000Z             4483301

[713 rows x 2 columns]

In [9]:
SOPR

                        SOPR/t    SOPR/v
0     2012-12-31T00:00:00.000Z  1.012306
1     2013-01-01T00:00:00.000Z  0.998396
2     2013-01-02T00:00:00.000Z  0.999711
3     2013-01-03T00:00:00.000Z  1.000494
4     2013-01-04T00:00:00.000Z  1.002167
...                        ...       ...
3525  2022-08-26T00:00:00.000Z  0.996005
3526  2022-08-27T00:00:00.000Z  0.994730
3527  2022-08-28T00:00:00.000Z  0.999703
3528  2022-08-29T00:00:00.000Z  0.999248
3529  2022-08-30T00:00:00.000Z  0.992702

[3530 rows x 2 columns]

In [10]:
stock_to_flow

,Stock-to-Flow Ratio/t,Stock-to-Flow Ratio/o/daysTillHalving,Stock-to-Flow Ratio/o/ratio,Stock-to-Flow Ratio/o/price
0,2010-01-02T00:00:00.000Z,1061,6.670565e-03,NaN
1,2010-01-03T00:00:00.000Z,1060,6.871941e-03,NaN
2,2010-01-04T00:00:00.000Z,1059,7.069041e-03,NaN
3,2010-01-05T00:00:00.000Z,1058,7.286633e-03,NaN
4,2010-01-06T00:00:00.000Z,1057,7.467272e-03,NaN
...,...,...,...,...
6445,2027-08-26T00:00:00.000Z,232,1.382379e+06,NaN
6446,2027-08-27T00:00:00.000Z,231,1.382488e+06,NaN
6447,2027-08-28T00:00:00.000Z,230,1.382598e+06,NaN
6448,2027-08-29T00:00:00.000Z,229,1.382707e+06,NaN
6449,2027-08-30T00:00:00.000Z,228,1.382817e+06,NaN

In [11]:
fees

                Fees (Total)/t  Fees (Total)/v
0     2009-01-03T00:00:00.000Z        0.000000
1     2009-01-04T00:00:00.000Z        0.000000
2     2009-01-05T00:00:00.000Z        0.000000
3     2009-01-06T00:00:00.000Z        0.000000
4     2009-01-07T00:00:00.000Z        0.000000
...                        ...             ...
4983  2022-08-26T00:00:00.000Z       11.316777
4984  2022-08-27T00:00:00.000Z        8.786083
4985  2022-08-28T00:00:00.000Z        7.495430
4986  2022-08-29T00:00:00.000Z       11.008258
4987  2022-08-30T00:00:00.000Z       12.100508

[4988 rows x 2 columns]